.landingbackground {
    background-image: url('../../imgs/fondo.jpg');
    background-size: cover;

}

.contlanding {
    display: flex;
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.2px);
    -webkit-backdrop-filter: blur(2.2px);
    border: 1px solid rgba(255, 255, 255, 0.24);
    height: 99vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(255, 255, 255, 0.76);
}

.enterbutton {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    border: 1px solid gray;
    background: #e8e8e82c;
    border: transparent;
    transition: all .3s;
    box-shadow: 3px 3px 12px #c5c5c5
}

.enterbutton:hover {
    border: 1px solid rgba(227, 240, 234, 0.664);
    color: rgba(255, 255, 255, 0.596);
}

.enterbutton:active {
    box-shadow: 4px 4px 12px #c5c5c5,
        -4px -4px 12px #ffffff;
}