.FormCont {
    display: flex;
    background-color: #23c48428;
   align-content: center;
    
}

.formInputs {
     display: flex; flex-direction: column; width: 20%; margin-left:20px; margin-top: 20px;
}

.containercheck{
     margin-left:50px;margin-top: 20px;
     
}
.form-btn {
    margin-top: 10px;
    
    background-color: black;
    color: white;
}


