.Navbar {
display: flex;
align-items: flex-end;
background-color: #802AA8;
margin-bottom: 1%;
padding-top: 10px;
padding-bottom: 6px;
width: 34%;
justify-content: center;
}

.NavLinks {
    padding: 4px;
    font-family: 'Acme', sans-serif;
    color:white;
     margin-bottom:10px;
      font-size:23px;
      text-decoration:none;
      text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 rgba(0, 0, 0, 0.568); /* Desplazamiento y color del borde */
}

.Navbar div:hover{
    background-color:#85A819;
    box-shadow: 0px 15px 20px rgba(141, 173, 161, 0.4);
    color: #fff;
    transform: translateY(5px);
}

.Navbar span {
    color: rgba(255, 255, 255, 0.74);
margin-left:2%;
margin-right:2%;

margin-bottom: 1%;

}
.nbCont{
    display: flex;
    flex-direction: row;
    background-color: #802AA8;
    justify-content: space-between;
    border-bottom: 5px solid #CDF556
}
.nbCont img {
    width: 55%;
}


  
  
  
  